/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html, body {
  background-color: #0a0a0a; /* Fundo escuro para toda a aplicação */
  color: #ededed;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

/* Esconder scrollbar completamente */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Safari e Chrome */
}

.scrollbar-hide::-webkit-scrollbar-track {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar-corner {
  display: none;
}